@mixin equal-dimensions($size) {
   width: $size;
   height: $size;
}

@mixin circle-shape($diameter-size) {
   @include equal-dimensions($diameter-size);
   border-radius: 50%;
}

@mixin default-font-family {
   font-family: "Roboto", sans-serif;
}