/* You can add global styles to this file, and also import other style files */

@import "variables";
@import "mixins";

*,
*:after,
*:before {
   margin: 0;
   padding: 0;
   border: none;
   box-sizing: border-box;
}

html,
body {
   width: 100vw;
   height: 100vh;
}

button,
input[type="button"],
button > * {
   cursor: pointer;
   border: none;
   padding: none;
   margin: none;
   font-family: "Roboto", sans-serif;
   appearance: none;
   text-decoration: none;
}

.main-background {
   position: relative;
   background-color: $color-primary;
}

.main-centered-container {
   width: 1097px;
   height: 637px;
   display: flex;
   overflow: hidden;
   border-radius: $default-border-radius;
   background-color: $color-white;
   box-shadow: 12px 24px 25px rgba(0, 0, 0, 0.08);

   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.todo-task-group-container {
   width: 354px;
   height: 100%;
   background: linear-gradient(180deg, #f96d80 1.26%, #bb596b 101.26%);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   padding: 47px 0;

   .todo-settings-button-container {
      width: 265px;
   }
}

.todolist-and-settings-container {
   width: calc(100% - 354px);
   height: 100%;
}

.todo-header {
   width: 100%;
   height: 80px;
   background: linear-gradient(90deg, #ececec -1.01%, rgba(255, 255, 255, 0) 7.11%);
}

.todolist-container {
   width: 100%;
   height: calc(100% - 80px);
   display: flex;
   align-items: center;
   justify-content: center;
}

.rippe-circle {
   width: 20px;
   height: 20px;
   position: absolute;
   background-color: red;
   border-radius: 50%;
}
