@import "variables";

$button-add-todo-group-size: 62px;

.task-group {
   
   &__add-todo-group-button {
      display: flex;
      align-items: center;
      font-weight: 200;
      justify-content: center;
      
      appearance: none;
      border: none;

      color: $color-secondary;
      font-size: 64px;
      
      background-color: $color-white;
      width: $button-add-todo-group-size;
      height: $button-add-todo-group-size;
   }

   &__list {
      border: 1px solid $color-white;
   }

}
