@import "variables", "mixins";

$button-add-todo-group-size: 62px;
$task-groups-container-amount: 5;
$task-group-list-item-height: 71px;

:host {
   width: 287px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.task-group {
   
   &__add-todo-group-button {
      display: flex;
      align-items: center;
      justify-content: center;
      
      @include default-font-family;
      font-weight: 100;
      
      background-color: $color-white;
      @include circle-shape($button-add-todo-group-size);

      .plus-icon {
         color: $color-secondary;
         font-size: 64px;
         font-style: normal;
      }
   }

   &__list {
      width: 100%;
      height: calc(#{$task-group-list-item-height} * #{ $task-groups-container-amount });
      margin-top: 46px;
      list-style: none;
      list-style-type: none;
   }
   
}

.todo-task-group-list {
   &__item {
      height: $task-group-list-item-height;
   }
}

