@import "variables";

$button-add-todo-group-size: 62px;

.task-group {
   
   &__add-todo-group-button {
      display: flex;
      align-items: center;
      justify-content: center;
      
      appearance: none;
      border: none;
      
      background-color: $color-white;
      width: $button-add-todo-group-size;
      height: $button-add-todo-group-size;

      .plus-icon {
         color: $color-secondary;
         font-size: 64px;
         font-style: normal;
      }
   }

   &__list {
      border: 1px solid $color-white;
   }

}

