@import "mixins";

:host {
   display: flex;
   align-items: center;
   width: 100%;
   height: 100%;
   padding: 0 25px;
   @include default-font-family;
}

$checkbox-base-color: #fd96a4;

.custom-checkbox {

   &__container {
      display: block;
      margin-right: 21px;
   }

   &__native-checkbox {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
   }

   &__checkbox {
      @include circle-shape(21px);

      cursor: pointer;
      display: block;
      border: 1px solid $checkbox-base-color;

      background-image: url("../../../assets/img/icons/icon-checkmark.svg");
      background-repeat: no-repeat;
      background-size: 10px 10px;
      background-position: center center;
      
      transition: all 230ms ease-in-out;
   }

   &__native-checkbox:checked + &__checkbox {
      background-color: $checkbox-base-color;
   }
}

.todo-task-name {
   color: #9A9A9A;
   font-size: 14px;
}