<div class="options-container">
   <div class="options__settings">
      <span class="icon-angle-up"></span>
      <span class="settings-text">Settings</span>
   </div>
   <div class="options__current-todo-list">
      <i class="icon-status"></i>
      <span class="current-todo-list-text">Day-to-day Life</span>
      <i class="fas fa-caret-down icon-caret-down"></i>
   </div>
   <div class="options__add-new-todo-item" role="button" (click)="createNewTask()">
      <i class="icon-add-new-todo-item"><i class="plus-character">+</i></i>
   </div>
</div>