@import 'variables', 'mixins';

.btn-settings {
   background-color: transparent;
   display: flex;
   justify-content: center;
   color: $color-white;
   height: 18px;

   &__icon img {
      @include equal-dimensions(16px);
      margin-right: 8px;
   }

   &__label {
      @include default-font-family;

      font-size: 12px;
      font-weight: 300;
      line-height: 16px;
   }
   
}